body {
  background-image:  linear-gradient(to right bottom, #7ed56fee, #28b488ee ), url("/ivory-tower.jpg");
  background-size: cover;        /* fills screen */
  background-position: top;   /* tops image */
  background-repeat: no-repeat;  /* no repeating */
  height: 100vh;
}
.page_1 {
    height: 100vh;

}
.logo {
    display: block;
    margin: 0 auto;
    width: 9%;
    height: auto;
    margin-top: 10px;
}

.header_1 {
    align-items: center;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "Lato", Arial;
    letter-spacing: 8px;
    font-size: 20px;

}

.logins {
    margin-left: 20%;
   /* background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);*/

}
.logins input {
    display: block;
    margin-top: 20px;
    padding: 10px 8px 10px 6px;
    width: 35%;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: "Lato", Arial;
    font-weight: 500;
    font-size: 15px;

}

.logins input:hover {
    border: 1px solid #89eba3;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}
.logins input:focus {
    outline: none;
    border: 1px solid #cbe4d1;
}

.logins input:focus:invalid {
  border-bottom: 2px solid red;
}

.logins input:focus:valid {
  border-bottom: 2px solid green;
}

.login-btn {
    background-color: #28b487;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 3%;
    box-shadow: 0px 2px 4px rgba(54, 87, 62, 0.4);
}
.login-btn a{
    color: white;
    text-decoration: none;
}
.login-btn:hover {
    box-shadow: 0px 4px 8px rgba(54, 87, 62, 0.4);
}
.login-btn:focus {
    background-color: #45a05c;
}

.failed_login p {
    display: inline;
    margin-left: 20%;
    font-size: 18px;
}
.failed_login p a {
    color: #f4f8f5;
    text-decoration: none;
    font-size: 18px;
}
.failed_login p a:hover {
    text-decoration: underline;
    color: rgb(95, 95, 176);
}