.head {
    align-items: center;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "Lato", Arial;
    letter-spacing: 8px;
    font-size: 20px;


}
.student_detected {
    color: aliceblue;
    font-size: 17px;
    font-family: "Lato", Arial;

}
